.Flex-container{
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
   
}
.flex-item{
    background-color: antiquewhite;
    height: 50px;
    width: 50px;
    line-height: 50px;
    font-size: 20px;
    color: rgb(0, 0, 0);
    text-align: center;
    margin: 5px;
}
.row{
    flex-direction: row;

}
.row-reverse{
    flex-direction: row-reverse;

}
.row-reverse li{
    background-color: rgb(166, 224, 195);

}
.column{
    float: left;
    flex-direction: column;

}
.column li{
    background: aqua;
}
.column-reverse{

    float: right;
    flex-direction: column-reverse;
}
.column-reverse li{

    background: rgb(209, 154, 168);
}